body{
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-family: "Montserrat",black ;
    font-size: 3rem;
    line-height: 1.5;
}
h2{
    font-family:"Montserrat" ;
    font-size: 3rem;
    line-height: 1.5;
}
h3{
  font-weight: bold;

}
p{
    color: #8f8f8f;
}

#title{
    background-color: #ff4c68;
    color: #fff;
    
}

.container-fluid{
    padding: 3% 15% 9%;
}
.navbar-brand{
    font-size: 1.5rem;
    font-weight: bold;
}
.navbar{
    padding-bottom: 4.5rem;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
}
.download-button{
    margin: 5% 2% 0 1%;
}
.title-image{
    width: 250px;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}
#features{
    padding: 9% 15%;
  background-color: #fff;
    position: relative;
    z-index: 1;
}
.feature-box{
    text-align: center;
    padding: 5%;
}
.icon{
    color: #ff4c68;
    margin-bottom: 1rem;
}
.icon:hover{
    color: brown;
}
#testimonials{
    
    text-align: center;
    background-color: #ff4c68;
    color: #fff;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 10px;
}
.carousel-item{
    padding: 7% 15%;
}
#press{
    background-color: #ff4c68;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 10px 10px 50px5;
}
#pricing{
    padding: 100px;
    text-align: center;
}
.box{
    padding: 3% 2%;
}
.ctc{
    width: 80%;
}

@media(max-width:1080px){
    #title{
        text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0);
        padding-top: 5%;
    }
}

#cta{
    background-color: #ff4c68;
    padding: 10% 9%;
    text-align: center;
}
.last-part{
    padding-bottom: 3%;
    color: #fff;
    font-size: 60px;
}

#footer{
    padding: 3% 2%;
    text-align: center;
}